@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,400);

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	background: #f7f9fa; 
}


nav {
	width: 100%;
	position: fixed;
	font-size: 16px;
	z-index: 1;

}

h1, h2 {
	font-weight: 300;
}

h3 , strong {
	font-weight: 600;
}

.navbar {
	padding-top: 0.5em;
	background-color: #0080bc;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #E2E2E2;
}

.navbar-toggle {
	margin-top: 0em;
}

.navbar li {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right:1em;
	list-style: none;
}

.navbar ul {
	padding-left:0;
	margin-left: 10px;
}
.navbar a {
	color: #FFFFFF;
	margin:0;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar a:hover {
	background-color: #00597A;
	text-decoration: none;
}
.navbar a:focus {
	background-color: #00597A;
	text-decoration: none;
}
.box {
	text-align: justify;
}

#logo {
	margin-left: 0px;
}

#logo a:hover {
	background-color: #0080bc;
}

.container-fluid {
	padding-left: 0px;
}

table, th, td {
   border: 1px solid #ddd;
}

.row {
	margin-bottom: 1em;
}

main {
	padding-left: 1em;
	background: #f7f9fa; 
}

#content {
	margin-bottom: 1em;
	margin-right: 1em;
	background: #f7f9fa; 

}

#socialMedia {
	font-size: 1.5em;
}

#socialMedia a {
	margin-right: 0.5em;
}

footer {
	background-color: #0080bc;
	padding-top: 15px;
	padding-left: 15px; 
	padding-bottom:5px;
	color: #FFFFFF;
	font-weight: lighter;
}

footer a, footer a:hover {
	color: #FFFFFF;
}

.calendar-row {
	margin-top: 1em;
}

.quiz {
	color: red;
}

.calendar-col {
	border-top: 1px solid #0080bc;
}

#homeMid {
	margin-top: 3em;
	margin-bottom: 3em;
}

.notesBtn {
	border: 1px solid;
}

/*use class for links you don't want to turn blue / turn blue and underline on hover*/

.static-link, .static-link:hover {
	color: #FFFFFF;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.table {
		width: 90%;
		margin-left: 5%;
	}
	.row {
		padding: 1em;
	}
	.row h3 {
		margin-top: 0em;
	}
	.navbar ul li {
		float: left;
	}
	main {
		padding-left: 2em;
	}
}

@media screen and (min-width: 992px) {
	ul {
		margin-left: 3em;
	}
	#hwBtnCombo {
		margin-top: 2em;
	}
	.calendar-col {
		border-top: none;
	}
}

@media screen and (min-width: 1200px) {

}