<div class="container"> <!-- UPDATE: only one container is needed for the whole page -->

    <div class="row">
    	<h1>Calendar</h1>
        <div class="input-group">
            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" name="search" placeholder="Filter by example code..." ng-model="titleFilter"></input>
        </div>
    </div>

    <div class="calendar-row row thumbnail" ng-repeat="week in weeks | filter : {days: {code: {title: titleFilter}}}"> <!--  | filter: {days: {code: {title: titleFilter}} -->
	    	<h3> Week {{week.number}} </h3>
	        <div class="col-md-3" ng-repeat="day in week.days | filter: test">
	            <h4> {{day.day}} 
	            	<span ng-if="day.lab.title">-</span> <a ng-href={{day.lab.link}}>{{day.lab.title}}</a>
	            	<span ng-if="day.special">-</span> 
	            	{{day.special}}
	            </h4>
	        	<p> {{day.topic}} </p>
	        	<dl>
	    	    	<dt ng-if="day.slides"> Slides </dt>
	    	    		<dd ng-repeat="slides in day.slides"> <a ng-href={{slides.link}}> slides (PDF) </a> </dd>
	        		<dt ng-if="day.code"> Example Code </dt>
	        			<span ng-repeat="code in day.code"> 
	        				<a ng-href={{code.link}}> {{code.title}}</a><span ng-if="!$last">, </span> 
	        			</span>
	    	    </dl>
	  
        </div>
    </div>

	<p ng-hide="(weeks | filter: titleFilter).length">No results found...</p>
</div>