

<div class="container">
	<h1> Calendar </h1>

</div>


<div class="row container" ng-repeat="week in weeks">
	<h3> Week {{week.number}} </h3>
    <div class="col-md-3" ng-repeat="day in week.days">
        <h4> {{day.day}} </h4>
    	<p> {{day.topic}} </p>
    	<dl>
	    	<dt ng-if="day.slides"> Slides </dt>
	    		<dd ng-repeat="slides in day.slides"> <a ng-href={{slides.link}}> slides (PDF) </a> </dd>
    		<dt ng-if="day.code"> Code </dt>
    			<dd ng-repeat="code in day.code"> <a ng-href={{code.link}}> {{code.title}} </a> </dd>
	    </dl>
    </div>
</div>
