<div class = "container">
	
	<div class="row">	
		<h1>Class Notes</h1>
		<div class="input-group">
        	<span class="input-group-addon" aria-hidden="true"><i class="fa fa-search"></i></span>
        	<input type="text" class="form-control" placeholder="" ng-model="query"></input>
    	</div>
	</div>

		<div class = "row thumbnail" ng-repeat = "lecture in lectures | filter:query" >

			<div class="col-sm-8">
				<h4>{{lecture.title}}</h4>
			</div>
	
			<button type="button" class="btn btn-danger" class="notesBtn" ng-click="notesLink(lecture.pdfUrl)">
				View PDF
			</button>
			<button type="button" class="btn btn-danger" class="notesBtn" ng-click="notesLink(lecture.powerpointUrl)">
				Save PowerPoint
			</button>
			
			<div class="col-sm-1"></div>

		</div>

		<p ng-hide="(lectures | filter:query).length">No results found...</p>
</div>