<div class = "container">
	
	<div class="row">	
		<h1>Class Notes</h1>
		<div class="input-group">
        	<span class="input-group-addon" aria-hidden="true"><i class="fa fa-search"></i></span>
        	<input type="text" class="form-control" placeholder="" ng-model="query"></input>
    	</div>
	</div>

		<div class = "row thumbnail" ng-repeat = "lecture in lectures | filter:query" >

			<div class="col-sm-8">
			<h4>{{lecture.title}}</h4>
			</div>

			<!-- <div class="btn-group col-md-2" role="group" aria-label="...">
				<button type="button" class="btn btn-danger"><a class="static-link" ng-href="{{lecture.pdfUrl}}">View PDF</a></button>
				<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				 </button>
				 <ul class="dropdown-menu">
				    <li><a ng-href="{{lecture.powerpointUrl}}">Download PowerPoint</a></li>
  				</ul>
			</div> -->
			
			<button type="button" class="btn btn-danger" class="notesBtn">
				<a class="static-link" ng-href="{{lecture.pdfUrl}}">View PDF</a>
			</button>
			

			

			
			<button type="button" class="btn btn-danger" class="notesBtn">
				<a class="static-link" ng-href="{{lecture.powerpointUrl}}">Save PowerPoint</a>
			</button>
			<div class="col-sm-1">
			</div>

		</div>

		<p ng-hide="(lectures | filter:query).length">No results found...</p>
</div>



<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div> -->