
<div class="container">
	<div id="cscHeading">
		<h1>CSC 143</h1>
		<h2>Computer Programming for Engineers and Scientists</h2>
	</div>
	
	<div class="box">
		<p>
			<h3>Fall 15 Schedule</h3>
			T,Th, F 10:00-10:50 am
			<br />
			T 1:00 pm - 2:40 pm
			<br />
			<b>Location:</b> <a href="https://www.google.com/maps/dir//47.6177337,-122.3220005/@47.6179496,-122.3918561,12z/data=!3m2!4b1!5s0x54901532d7721455:0xb22ccd0f8a2982e5">SAM 202</a>

			<h3>Instructor</h3>
			François Lepeintre 
			<br />

			<i class="fa fa-envelope"></i> <a href="mailto:francois.lepeintre@seattlecolleges.edu">francois.lepeintre@seattlecolleges.edu</a>  
			<br />
			<i class="fa fa-phone"></i> <a href ="callto://+12069345438">(206) 934-5438</a>			
			<br />
			<b>Office</b> SAM 212
			<br />
			<b>Office Hours</b> T, W 12:20-1:00 pm, and Th, F 9:00-9:50 am
		</p>
	</div>

	<div class="box">
		<h2>Syllabus</h2>
		<p>
			<h3>Textbook</h3>
			"Building Java Programs: a back to basics approach" by S. Reges and M. Stepp. Pearson. 3rd edition.
			<br />

			<h3>Learning outcomes</h3>

			After successful completion of this course, students will be able to do the following:
			<ul>
				<li>Apply Java classes to create event-driven, GUI-based programs with possible stream input/output</li>
			
				<li>Apply Object-Oriented Design principles (encapsulation, inheritance, polymorphism) to software solutions</li>
			
				<li>Implement collection classes using different data structures discussed</li>
			
				<li>Evaluate efficiencies of different program designs (algorithms and data)</li>
			
				<li>Choose or design appropriate classes and write efficient programs to solve given problems</li>
			
				<li>Document and test programs as prescribed by industry standards</li>

				<li>Apply programming concepts to mathematics, modeling, and a broad range of other subjects</li>
			</ul>
			<br />
			
			<h3>Course Content:</h3>

			Topics include classes and interfaces, inheritance, graphics, exceptions, stream I/O, recursion, analysis of algorithms, and some dynamic structures (lists, stacks, trees). Uses the Java programming language.
			<br />
			This course is designed to continue the study of programming by introducing advanced Java language features and new programming topics. Students will also learn the tools for building efficient software systems: dynamic data allocation, recursion and analysis of algorithms.
			<br />

			<h3>Course Format</h3>

			We will meet four times a week for an interactive lecture. A lecture is not a monologue on the part of the instructor. Read the text before coming to class and ask questions (if not, I will ask you some). We will cover the class materials using several approaches, namely by going over powerpoint slides, solving paper and pencil exercises, and writing short and medium sized programs.
			<br />
			
			<h3>Grading</h3>

			Quizzes: 20%
			<br />
			Midterms: 15% each
			<br />
			Final: 30%
			<br />
			Homework: 20%
			<br />
			<b>For this scale to apply, you need to achieve an average of 2 or better on your quizzes/exams alone and on your homework alone. If not, you will receive the lower of the two averages.</b>
			<br />
			
			<h3>Quizzes/Exams</h3>

			Quizzes will be a set of about 2 to 4 questions. Expect about 5 quizzes throughout the quarter.
			<br />
			There will be 3 exams: 2 midterms and 1 final.
			<br />
			Quiz and exam dates will be given later in the quarter. There won't be any makeup quiz or exam.
			<br />
			
			<h3>Homework</h3>

			Homework will be assigned about every other week. It will consist of a problem to solve by writing a program.
			<br />
			Though you may discuss how to approach a problem with other students in the class (and I encourage you to do so), your program has to be yours (sometimes yours will be a team of two). Never copy down the program of somebody else's and claim it as your own work. This would be an instance of cheating.
			<br />
			Refer to the grading policy for details about how your homework is graded.
			<br />
			Your homework must be turned in on time. You can't be late for any assignments.
			<br />
			
			<h3>Resources</h3>

			On the resource page, you will find a list of links relevant to the class.
			<br />
			A help page is available. It is a forum where you can seek help or help a fellow student.
			<br />
			There is also a class feedback page. Give me feedback and I will do my best to incorporate your comments in my teaching (note that the feedback can be anonymous).
			<br />

			<h3>Special Assistance</h3>

			Students with documented disabilities requesting class accommodations, requiring special arrangements in case of building evacuation, or have emergency medical information the instructor should know about are asked to contact the disability support services office (DSS) in Rm. 1112. Once the disability is verified with DSS you will be given a letter of accommodation to be handed to your instructor.
			<br />

			<h3>My contract to you!</h3>

			If you come to class, do your homework and genuinely try to learn the concepts, I promise you to do my best to make your time as valuable as I can!
		</p>
	</div>
</div>