<div class="container">
	<div class="row">
		<h1>Homework</h1>
	</div>	

	<div class="row thumbnail" ng-repeat="assignment in assignments">

		<div class="col-md-1">	
			<h1><span class="label label-default">{{assignment.id}}</span></h1>
		</div>
		
		<div class="col-md-8">
			<h2>{{assignment.name}}</h2>
			<p>{{assignment.description}}</p>
			<p>Due {{assignment.due | date:"MM/dd/yyyy 'at' h:mma"}}</p>
		</div>
		
		<div class="col-md-3">

			<div id="hwBtnCombo" class="btn-group-vertical" role="group" aria-label="...">

				<button type="button" class="btn btn-success" ng-click="hwLink(assignment.submitURL)">
						Submit Assignment {{assignment.id}}
				</button>
				<button type="button" class="btn btn-default" ng-click="hwLink(assignment.detailURL)">
						Assignment Detail
				</button>
					
			</div>
		</div>
	</div>
</div>