<div class="container">
	<h1> Resources </h1>

	There are a lot of resources related to programming that are available. Here are a few that you might find useful.

 

	<h3>Computing at School:</h3>
	<ul>
		<li><a href="http://seattlecentral.edu/compcenter/">SCCC 
		computer lab:</a> Find out about the opening hours, the classes that are offered, etc...</li>

		<li>CSC tutors are available in SAM 100 (check the schedule posted on <a href="http://seattlecentral.edu/learningsupportnetwork/?page_id=122">this page</a>).</li>
	</ul>

	<h3>Computing at Home (all of the products listed below are free):</h3>
	<p>In class, we will be using <a href="http://www.eclipse.org/">Eclipse</a>, which is a free java IDE. However, you can use any java IDE you want to develop your programs. These <a href="http://seattlecentral.edu/~flepeint/javaclass/install.html">instructions</a> (taken from CSC 142) give links to several java IDE's.</p>
	<ul>
		<li>The documentation of the Java libraries is available <a href="http://docs.oracle.com/javase/7/docs/api/">here.</a></li>
		<li>The documentation of the UW library is available <a href="http://www.cs.washington.edu/education/courses/142/info/java/docs.html">here.</a></li>
	</ul>	 

	<h3>Websites:</h3>

	<p>There is no shortage of these regarding Java.  To find information about the same class at other institutions, go to the <a href="http://www.cs.washington.edu/education/courses/143/">University of Washington CS143</a> or the <a href="http://northstar.northseattle.edu/">North Seattle CC CS Dept.</a> web sites.</p>

	<ul>
		<li>On the <a href="http://www.oracle.com/technetwork/java/index.html">Oracle</a> web site (formerly Sun, the creators of the language), you will find a lot of useful information and <a href="http://download.oracle.com/javase/tutorial/">tutorials.</a></li>
		<li>This <a href="http://www.ibm.com/developerworks/views/java/libraryview.jsp?sort_by=&show_abstract=true&show_all=&search_flag=&contentarea_by=Java+technology&search_by=Goetz&topic_by=-1&industry_by=-1&type_by=All+Types&ibm-search=Search">site</a> is good to learn more about some (advanced) features of the Java language.</li>
		<li>I also strongly recommend these web sites: <a href="http://javabat.com/">javabat.com</a>, and <a href="http://practiceit.cs.washington.edu/">PracticeIt</a>. Do them all, and you will be well prepared for the class exams!</li>
	</ul>

	<h3>Books:</h3>

	<p>Just to get a feel of what is available, just go to any bookstore (e.g. <a href="http://www.amazon.com/">Amazon</a>) and type "Java language and programming" as a key word for the search engine. 

	Here are some titles other than our textbook that you might find interesting:<p></p>

	<ul>
		<li>"Java How to Program" by Deitel H.M. and Deitel P.J. It has lots of examples (check the <a href="http://www.deitel.com/">web site</a>).</li>
		<li>If you already know the C language, you might enjoy reading some of the <a href="http://www.oreilly.com/">O'Reilly texts</a>. Personally, I like <a href="http://www.oreilly.com/catalog/learnjava/">"Learning Java"</a> by Niemeyer P. and Knudsen J. O'Reilly has a very large selection of Java books covering any of the Java aspects that you might think of. However, most of these books assume that you are already familiar with an object oriented programming language.</li>
		<li>To learn the tricks of the trade when programming in Java, consult "Practical Java: Programming Language Guide" by Haggar P (go to <a href="http://www.aw.com/cseng/">Addison-Wesley</a> and type "Practical Java" in the search textfield). The book uses short program snippets to illustrate many of the pitfalls that a careful Java programmer should avoid. This book assumes that you already know Java.</li>
		<li>Though remotely relevant for our class, I cannot help quoting a book by Richard Feynman: "Feynman lectures on computation".  This is a physicist's view on computers.  This set of lectures barely deals with programming. Yet if you want to learn in simple terms how and why a computer can do what it does, this is it!  (my (biased) advice is whenever you see a book written by Feynman, read it. It won't be a waste of your time!).</li>
	</ul>
	
	<h3>A Computer Scientist!</h3>

	<p><a href="mailto:rsiles@sybase.com">Rene Siles</a> who works for sybase in San Francisco has kindly agreed to answer any questions you might have regarding careers in computer science. You can get a direct feel of what it is to work as computer scientist. However, be respectful of his time. Do not bombard him with questions!</p>

	<p>And of course if you know of any information relevant to our class, <a href="mailto:Francois.Lepeintre@seattlecolleges.edu">let me know.</a>  I will post all your useful suggestions.</p>

</div>